@import url(all.css);
body{ background:#f3f3f3;}
.load{ background:url(../images/welcome.gif) no-repeat center; width:675px; height:260px; position:absolute; left:50%; margin-left:-337px; top:45%; margin-top:-130px;}