@import url(all.css);
@import url(nav.css);
@import url(main.css);
/*buttom*/
.buts{ background:#f2f2f2; border-bottom:1px solid #dcdcdc; height:35px; padding:10px 0 0 28px;}
.buts a{ height:22px; line-height:22px; padding:0 18px; display:inline-table; *padding:4px 18px; color:#5f5f5f; background:#FFFFFF; border:1px solid #eeeeee; border-bottom:1px solid #d3d3d3; margin-right:20px;}
.buts a:hover{ background:#45a2d5; border:1px solid #45a2d5; color:#FFFFFF;}
.buts a.hover{ background:#45a2d5; border:1px solid #45a2d5; color:#FFFFFF;}
/*search*/
.search{ border:1px solid #e0e0e0; padding-left:40px; margin:10px 28px 0 28px;}
.search legend{ font-family:"微软雅黑"; font-size:15px; font-weight:bold; color:#8b8b8b; padding:0 12px; background:#FFFFFF;}
.search div{ color:#5f5f5f; font-size:13px; padding:10px 0 16px 0; line-height:20px;}
.search div select{color:#5f5f5f;}
.search div .text{ width:140px; height:18px; padding:0 5px; line-height:18px\0; *line-height:18px; color:#5f5f5f; border:1px solid #7f9db9;}
.search div .sub{ background:#379dd5; border:1px solid #eeeeee; border-bottom:1px solid #d3d3d3; color:#FFFFFF; width:52px; height:22px; line-height:22px; font-size:12px; cursor:pointer; *border:0px;}
/*table list*/
.main{ margin:14px 28px 0 28px; color:#5f5f5f;}
#At_table{ border:1px solid #e0e0e0; font-size:13px; color:#5f5f5f;}
#At_table th{ background:url(../images/main_tit_bg.jpg) repeat-x; height:35px; text-align:center; font-size:14px;}
#At_table td{ height:41px; text-align:center;}
#At_table td a{ color:#5f5f5f;}
#At_table td a:hover{ color:#317EBD; text-decoration:underline;}
#At_table td .ok{ color:#19870e;}
#At_table td .no{ color:#b40000;}
#At_table td .ing{ color:#A2A327;}
#At_table tr.t1 {background-color:#efefef;}/*第一行的背景色*/
#At_table tr.t2 {background-color:#fdfdfd;}/*第二行的背景色*/
/*page*/
.page{ margin-top:8px;}
.page_all{ float:left; width:7%; text-align:center; margin-top:5px; *margin-top:0px;}
.quanx{ margin-left:-20px;  margin-top:5px;}
.page_div { float:right; font-family:Arial; font-size:11px; line-height:20px;}
.page_div a{ float:left; margin-left:8px;}
.page_div .home{ background:url(../images/home.jpg) no-repeat; width:19px; height:19px; display:block;}
.page_div .prev{ background:url(../images/prev.jpg) no-repeat; width:19px; height:19px; display:block;}
.page_div .text{ background:url(../images/input_go.jpg) no-repeat; width:21px; height:21px; border:0px; text-align:center; font-size:11px; color:#5f5f5f;}
.page_div .next{ background:url(../images/next.jpg) no-repeat; width:19px; height:19px; display:block;}
.page_div .last{ background:url(../images/last.jpg) no-repeat; width:19px; height:19px; display:block;}
.page_div .go{ background:url(../images/go.jpg) no-repeat; width:46px; height:21px; display:block;}





