<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>roots-kxzy</display-name>
	
	<!--设置Spring的配置文件启动路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:com/roots/kxzy/config/spring/applicationContext-final.xml</param-value>
	</context-param>
	<!--设置Log4j的配置文件的路径 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:com/roots/kxzy/config/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>kxzy.root</param-value>
	</context-param>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:com/roots/kxzy/config/spring/mvc/springmvc-final.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.rt</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChartServlet</servlet-name>
		<servlet-class>com.ChartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartServlet</servlet-name>
		<url-pattern>/servlet/ChartServlet</url-pattern>
	</servlet-mapping>
	
	
 <!-- hibernate Open Session in View filter -->
  <filter>
	<filter-name>openSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>openSessionInViewFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>

	<!--Log4j日志监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
		<!-- Spring启动监听器 -->
<!-- 	<listener> -->
<!-- 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 	</listener> -->
	
	<!-- 初始化 权限模块 -->
	<listener>
		<listener-class>com.roots.kxzy.system.listener.ApplicationContextListener</listener-class>
	</listener>
	
	<!-- Spring启动事件监听器 -->
	 <listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- 用于获取对象 -->
 	<listener> 
 	    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener> 
	
	<!-- 登入和登出时对比Session-->
 	<listener>
 		<listener-class>com.roots.kxzy.system.listener.SessionListener</listener-class>
 	</listener>

	<!-- 页面编码拦截器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>contentType</param-name>
			<param-value>text/html;charset=UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.rt</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<jsp-config>
		<taglib>
	    	<taglib-uri>http://www.roots.com/tags/commons</taglib-uri> 
		    <taglib-location>/WEB-INF/lib/roots-commns.tld</taglib-location> 
		</taglib>
	</jsp-config>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<error-code>403</error-code>
		<location>/commons/403.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/commons/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/commons/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/commons/404.jsp</location>
	</error-page>
 	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list> 
</web-app>
