@import url(all.css);
.images_nav {
    margin: 20px 0px 15px 0;
}

.images_nav li {
    /*background:url(../images/img_but.jpg) no-repeat 0 0; */
    width: 156px;
    height: 51px;
    text-align: center;
    float: left;
    margin-right: 8px;
    /*border: 1px #1b9af7 solid;*/
    background: #1B9AF7;
    border-radius: 4px;
}

.images_nav li:hover {
    background: #4cb0f9;
}

.images_nav li a {
    font-size: 17px;
    font-family: "微软雅黑";
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}

.images_nav li.hover {
    background: url(../images/img_buthover.jpg) no-repeat 0 0;
}

.images_nav li.hover a {
    color: #FFFFFF;
}

.phb {
    float: right;
    width: 320px;
}

.phb .phb_title {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px #1b9af7 solid;
    line-height: 34px;
}

.phb .phb_title span {
    padding: 0 16px;
    background: #1b9af7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
    line-height: 34px;
    display: inline-block;
}

.phb p {
    color: #808080;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px #1b9af7 solid;
}

.phb ul {
    background: url(../images/img_01.png) no-repeat 0 5px;
    font-size: 14px;
    padding-left: 30px;
}

.phb ul li {
    width: 290px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.phb ul li a {
    color: #323232;
    font-size: 14px;
    line-height: 30px;
}

.phb ul li a:hover {
    text-decoration: underline;
    color: #1b9af7;
}


/*search*/

.video_list_search {
    border: 1px solid #d9d9d9;
    width: 998px;
    height: 48px;
}

#scrollDiv {
    background: url(../images/list_04.jpg) no-repeat 20px 14px;
    width: 570px;
    height: 48px;
    overflow: hidden;
    float: left;
}

#scrollDiv li {
    padding-left: 140px;
    height: 48px;
    line-height: 46px;
    width: 460px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#scrollDiv li a {
    color: #2c2c2c;
    font-size: 12px;
}

#scrollDiv li a:hover {
    color: #1b9af7;
}

.video_list_search .search {
    border: 1px solid #dad7d7;
    height: 27px;
    float: right;
    margin: 10px 20px 0 0;
}

.video_list_search .search select {
    border: 0px;
    color: #3a3a3a;
    font-family: "微软雅黑";
}

.video_list_search .search input.text {
    border: 0px;
    width: 150px;
    height: 26px;
    *line-height: 26px;
    background: none;
    color: #3a3a3a;
    font-family: "微软雅黑";
}

.video_list_search .search input.sub {
    border: 0px;
    height: 27px;
    width: 51px;
    color: #FFFFFF;
    background: #1b9af7 url(../images/srh.png) center center no-repeat;
    cursor: pointer;
    text-indent: -9999px;
}


/*选项卡*/

.images_list {
    margin-top: 20px;
    box-shadow: 0px 1px 10px #dad7d7;
    border-top: 2px #3299cc solid;
}

.images_list_top_ie {
    display: none;
    display: block\9;
    height: 36px;
}

.images_list_top {
    width: 1000px;
    overflow: hidden;
    zoom: 1;
    height: 44px;
    background: #eff7fb;
}

.images_list p.tit {
    font-size: 20px;
    color: #fff;
    background: #3299cc;
    height: 44px;
    width: 150px;
    padding-left: 15px;
    line-height: 44px;
    /* font-weight: bold; */
    float: left;
    margin-right: 30px;
}

.images_list a.more {
    font-size: 14px;
    color: #333333;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
    padding-left: 18px;
    background: url(../images/more_icon.png) left center no-repeat;
}

.images_list .tab {
    overflow: hidden;
    zoom: 1;
    float: left;
    margin-top: 8px;
}

.images_list .tab li {
    float: left;
    height: 24px;
    /* font-size: 12px; */
    background: hsla(199, 53%, 55%, 0.2);
    border: 1px #bbdae8 solid;
    line-height: 24px;
    margin-left: 10px;
    padding: 0px 8px;
    display: block;
    color: #666;
    color: #808284;
    font-size: 14px;
    cursor: pointer;
}
.images_list .tab li:hover{
    border: 1px #3299cc solid;
}
.images_list .tab li.title {
    /*color: #F60;*/
    /*font-weight: bold;*/
    border: 1px #3299cc solid;
}

.images_list .images_list_nr {
    clear: both;
    /* border-top: 2px solid #9f9f9f; */
    /* padding-top: 20px; */
    padding: 16px 0;
    /* background: #f1f1f1; */
    /* margin-top: 10px; */
    border-radius: 5px;
    /* border: 2px #e0e0e0 solid; */
}

.images_list .images_list_nr .newslist {
    display: none;
    height: 380px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.images_list .images_list_nr .newslist .left {
    background: #ddeaff;
    width: 340px;
    height: 380px;
    float: left;
    border-radius: 4px;
}

.images_list .images_list_nr .newslist .left .first_li{
    width: 90%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 4px #749bb8 solid;
}

.images_list .images_list_nr .newslist .left .first_li img{
      width: 100%;
    margin: 0 auto;
    border-radius: 6px;
}

.images_list .images_list_nr .newslist .left .tit {
    text-align: center;
    font-size: 16px;
    color: #1b9af7;
    font-weight: bold;
    margin: 5px 10px 5px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*width: 360px;*/
}

.images_list .images_list_nr .newslist .left .nr {
    color: #6d6d6d;
    font-size: 13px;
    line-height: 18px;
    margin: 0px 10px;
    text-align: center;
}

.images_list .images_list_nr .newslist .right {
    float: left;
    width: 618px;
}

.images_list .images_list_nr .newslist .right li {
    float: left;
    margin: 0 0 15px 18px;
}

.images_list .images_list_nr .newslist .right .img {
    border: 1px solid #dcdcdc;
    padding: 1px;
    width: 184px;
    height: 138px;
}
.images_list .images_list_nr .newslist .right .img img{
  width: 100%;
}
.images_list .images_list_nr .newslist .right .tit2 {
    color: #6d6d6d;
    font-size: 13px;
    width: 184px;
    padding-left: 4px;
    height: 36px;
    margin-top: 6px;
}

.images_list .images_list_nr .newslist .right .tit2 a {
    color: #6d6d6d;
}

.images_list .images_list_nr .newslist .right2 {
    float: left;
    width: 618px;
}

.images_list .images_list_nr .newslist .right2 li {
    float: left;
    margin: 0 18px 15px 0;
}

.images_list .images_list_nr .newslist .right2 .img {
    border: 1px solid #dcdcdc;
    padding: 1px;
    width: 184px;
    height: 138px;
}
.images_list .images_list_nr .newslist .right2 .img img{
  width: 100%;
}

.images_list .images_list_nr .newslist .right2 .tit2 {
    color: #6d6d6d;
    font-size: 13px;
    width: 184px;
    padding-left: 4px;
    height: 36px;
}

.images_list .images_list_nr .newslist .right2 .tit2 a {
    color: #6d6d6d;
}


/*选项卡2*/

.images_list2 {
    margin-top: 20px;
    /*background: url(../images/img_06.jpg) no-repeat 0 0;
    padding-top: 2px;*/
    box-shadow: 0px 1px 10px #dad7d7;
    border-top: 2px #3299cc solid;
}

.images_list2 p.tit {
    font-size: 20px;
    color: #fff;
    background: #3299cc;
    height: 44px;
    width: 150px;
    padding-left: 15px;
    line-height: 44px;
    /* font-weight: bold; */
    float: left;
    margin-right: 30px;
}

.images_list2 a.more {
    font-size: 14px;
    color: #333333;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
    padding-left: 18px;
    background: url(../images/more_icon.png) left center no-repeat;
}

.images_list2 .tab {
    overflow: hidden;
    zoom: 1;
    float: left;
    margin-top: 8px;
}

.images_list2 .tab li {
    float: left;
    height: 24px;
    /* font-size: 12px; */
    background: hsla(199, 53%, 55%, 0.2);
    border: 1px #bbdae8 solid;
    line-height: 24px;
    margin-left: 10px;
    padding: 0px 8px;
    display: block;
    color: #666;
    color: #808284;
    font-size: 14px;
    cursor: pointer;
}

.images_list2 .tab li.title {
    border: 1px #3299cc solid;
}

.images_list2 .images_list_nr {
    clear: both;
    /* border-top: 2px solid #9f9f9f; */
    /* padding-top: 20px; */
    padding: 16px 0;
    /* background: #f1f1f1; */
    /* margin-top: 10px; */
    border-radius: 5px;
    /* border: 2px #e0e0e0 solid; */
}

.images_list2 .images_list_nr .newslist {
    display: none;
    height: 380px;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.images_list2 .images_list_nr .newslist .main {
    width: 1020px;
}

.images_list2 .images_list_nr .newslist .main li {
    float: left;
    margin: 0 15px 15px 0;
}

.images_list2 .images_list_nr .newslist .main .img {
    border: 1px solid #dcdcdc;
    padding: 1px;
    width: 176px;
    height: 132px;
}

.images_list2 .images_list_nr .newslist .main .tit2 {
    color: #6d6d6d;
    font-size: 13px;
    width: 176px;
    padding-left: 4px;
    height: 36px;
    margin-top: 4px;
}

.images_list2 .images_list_nr .newslist .main .tit2 a {
    color: #6d6d6d;
}


/*列表页*/


/*search*/

.search_div {
    background: url(../images/list_01.jpg) no-repeat 20px 22px;
    width: 570px;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
    float: left;
}

.search_div p.tit {
    font-size: 14px;
    padding-left: 35px;
    float: left;
}

.search_div a {
    color: #ffffff;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 15px;
}

.search_div a.hover {
    font-weight: bold;
}


/*视频列表*/

.list_main_div {
    clear: both;
    padding-top: 20px;
    width: 975px;
    overflow: hidden;
}

.list_main_div ul {
    margin: 0 15px 20px 0;
    float: left;
    padding-bottom: 5px;
    height: 195px;
}

.list_main_div ul:hover li.tit a {
    color: #1b9af7
}

.list_main_div li.img a {
    width: 175px;
    height: 134px;
    display: block;
    border: 1px solid #dcdcdc;
    padding: 1px;
}

.list_main_div li.tit {
    width: 180px;
    line-height: 16px;
    margin: 5px 0
}

.list_main_div li.tit a {
    font-size: 14px;
    color: #3a3a3a;
}

.list_main_div li.tit a:hover {
    color: #1b9af7
}

.list_main_div .time {
    color: #989898;
    font-family: "微软雅黑";
    font-size: 12px;
    clear: both;
}

.video_list_page {
    margin: 20px 0;
}

.video_list_page a {
    width: 19px;
    height: 19px;
    display: block;
    text-align: center;
    line-height: 19px;
    border: 1px solid #1b9af7;
    font-size: 12px;
    color: #1b9af7;
    float: left;
    margin-right: 6px;
}

.video_list_page a:hover {
    font-weight: bold;
}

.video_list_page a.prev {
    background: #1b9af7;
    color: #FFFFFF;
    font-weight: bold;
}

.video_list_page a.next {
    background: #1b9af7;
    color: #FFFFFF;
    font-weight: bold;
}

.video_list_page a.hover {
    background: #1b9af7;
    color: #FFFFFF;
    font-weight: bold;
}
